/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: monaco, Consolas, "Courier New", monospace;
  color: #213c1b;
  background-color: #edf1f7;
  margin: 0;

}

#container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: [left] 1fr [left-content] 4fr [right-content] 1fr [right];
  grid-template-rows: [top] 1fr [top-content] 9fr [end-content] 1fr [bottom];
}

#header {
  height: 100%;
  width: 100%;
  grid-column: left / right;
  grid-row: top / top-content;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
}

#connectButton {
  grid-column: 3;
  margin: 10px;
}

#modal {
  grid-column: left-content / right-content;
  grid-row: top-content / end-content;
  padding: 40px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 25px;
  border: 2px solid grey;
}

#buttonRow {

}

.form-elem {
  padding: 15px;
}

.modal-field {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: left;
  /*border: 1px solid grey;*/
}

.text-button {
  font-family: monaco, Consolas, "Courier New", monospace;

  margin: 10px;

  background:none;
  border:none;
  cursor: pointer;

  padding: 0px;
  font-size: 1em;
}

.selectedButton {
  font-weight: bold;
  color: black;
}


.unselectedButton {
  background-color: white;
  color: #D3D3D3;
}

.unselectedButton:hover {
  font-weight: bold;
  color: black;
}

input{
  margin: 10px;
  padding: 0px;
  /*border:none;*/

}

#logo {
  font-size: 2em;
}
